/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}



/* ham menu */
.burger-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.burger-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.burger-menu span:nth-child(1) {
    top: 25%;
}
.burger-menu span:nth-child(3) {
    top: 75%;
}
.burger-menu.active span {
    background-color: white;
}
.burger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu.active span:nth-child(2) {
    opacity: 0;
}
.burger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}