* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;               
    width: 100%;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 19px;        
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;   
}

.logo img {
    height: 100px;           
    width: auto;
}


.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.hero-labels {
    display: flex;
    justify-content: space-between;
    width: 90%; 
    max-width: 400px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}


.image-wrapper {
    position: relative; 
    width: 100%;
    padding: 3em;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}


.arrow-btn {
   
    display: inline-block;
    text-decoration: none;
    
    bottom: 50px;
    margin-bottom: 2em;
  

    background: transparent;
    border: 1.5px solid #4B2822; 
    color: #4B2822;
    padding: 8px 50px;
    font-size: 24px;
    cursor: pointer;    
    transition: all 0.3s ease; 
    text-align: center;
}

.arrow-btn:hover {
    background-color: #4B2822;  
    color: white;           
}


.intro-text h1 {
    margin-top: 30px;
    text-align: center;
}


.overskrift {
    position: absolute;
    top: 60%;               
    left: 50%;              
    transform: translate(-50%, -50%); 
    font-size: 170px;
    color: white;            
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

h1{
    font-family: Kapakana;
    font-weight: 500;
}


.intro-text p {
    text-align: center;
    padding: 0 40px;
    font-size: 20px;
    line-height: 1.6;
    max-width: 900px;
    margin: 20px auto;
}


.bottom-nav {
    background: transparent;
    position: absolute;
    bottom: 23%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px; 
}

.bottom-nav .btn-style {
    background: transparent;
    color: white;
    border: 2px solid #eeebe6;
    padding: 10px 40px;
    width: 170px;
    cursor: pointer;
    transition: all 0.3s ease; 
    
   
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.bottom-nav .btn-style:hover {
    background-color: white;   
    color: #4B2822;           
}

@media (max-width: 768px) {
    .overskrift {
          font-size: 80px;
    }
   
    .bottom-nav .btn-style {
        padding: 5px 20px; 
        width: auto; 
    }
}